.calendar{
    background-color:none;   
    display:grid;
    grid-template-columns: repeat(2,1fr); 
    gap: 10px;  
}
.ol{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(7 ,1fr); 
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.39);
    border-radius: 10px;
    padding: 5px;
    background-color: none;
}
.numerWeek{
    background-color: none;
    grid-template-columns: repeat(1,1fr); 
    display: grid;
    list-style: none;
    border: 1px solid rgba(0, 0, 0, 0.39);
    border-radius: 5px;
    place-items: center;
    padding-right: 3px;
    padding-left: 0;
    font-size: small;
}
.numerW-title{
    background-color: rgb(17, 1, 107);
    color: rgb(255, 251, 251) ;
    border-radius: 3px;
    font-size:15px;
    padding-left: 1px;
}


.card{
  border: 1px solid black;
}


.firstday{
    grid-column-start: var(--dayStart);
}

.dayLetter{
 background-color: rgb(17, 1, 107);
 border-radius: 2px;
 border: 1px solid rgba(0, 0, 0, 0.486);
 color: rgb(255, 251, 251) ;
 text-align: center;
}

.card-content {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin: 50px; /* Agrega un margen de 20px entre los calendarios */
}
.card{
    margin:10px
}
.card-title{
    text-align: center;
}

.weekdays{
    background-color: none
    ;
}

.year-input {
    top:50px;
    border-radius: 5%;
    position: relative;
    width: 100px;
    height: 60px;
    font-family: "Courier New";
    font-size: 30px;
    text-align: center;
    left: 60px;
  }            

  .btn.numerW {  
    font-size: 12px;
  }
  .btn.numerW:hover {  
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  }