.calendar{
    background-color:none;   
}
.ol{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(7,1fr); 
    border-radius: 10px;
}

ol{
    border: 1px solid rgba(0, 0, 0, 0.39);
    border-radius: 10px;
    padding: 5px;
    background-color: none;
}

.card{
  border: 1px solid black;
}


.firstday{
    grid-column-start: var(--dayStart);
}

.dayLetter{
 background-color: rgb(17, 1, 107);
 border-radius: 2px;
 border: 1px solid rgba(0, 0, 0, 0.486);
 color: rgb(255, 251, 251) ;
 text-align: center;
}

.card-content {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin: 50px; /* Agrega un margen de 20px entre los calendarios */
}
.card{
    margin:10px
}
.card-title{
    text-align: center;
}

.weekdays{
    background-color: none
    ;
}

.year-input {
    top:50px;
    border-radius: 5%;
    position: relative;
    width: 100px;
    height: 60px;
    font-family: "Courier New";
    font-size: 30px;
    text-align: center;
    left: 60px;
  }                         